.unav{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;


    .unavw{
      
        padding: 20px;
        width: 80%;
        margin: auto;
         background: #dd1f1f;
         box-shadow:  20px 20px 60px #53038f,
                      -20px -20px 60px #a83cf0;

    }
}