.pending {
   padding: 20px;
   width: 80%;
   margin: auto;
    background: #063709;
    box-shadow:  20px 20px 60px #52135b,
                 -20px -20px 60px #b873e2;


    p{
        font-size: 20px;
    }
  
}


.trf{
    padding-top: 20px;
    display: flex;
justify-content: center;
align-content: center;
}